<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        td {
            height: 8px;
            text-align: center;
        }
        
        body {
            margin-left: 20px;
        }
        
        th {
            text-align: center;
        }
        
        tbody {
            height: 80px;
            width: 100%;
        }
    </style>
    <script>
        $(function() {
            function LoadFinance() {
                $.getJSON( "/api", function( data ) {

                    $.each( data, function( key, val ) {
                        console.log(key);
                        var tbodyid = "#"+key;
                        var newRowContent = "<tr><td style='color:#1893f2'>BERY</td>
                        <td>49.94</td>
                        <td style='color:#3fc151'>8.68</td>
                        <td>47.44</td>
                        <td>5.2698%</td>
                        <td>50.2585</td>
                        <td>47.39</td>
                        <td>HIGH</td>
                        <td style='text-align:left;'>Stock Mover of The Day: What&#39;s Next for Berry Plastics Group Inc After Today&#39;s ...</td></tr>";
                        $(tbodyid).empty();
                        $(tbodyid).append(newRowContent);
                        $.each(val, function(k,kval){
                            var newRowContent = "<tr><td style='color:#1893f2'>"+kval.symbol+"</td>";
                            newRowContent += "<td>"+kval.last_price+"</td>"

                            console.log(kval.change);
                        });
                    });


                });
            }
            LoadFinance();
            // setInterval( LoadFinance, 10000 );
        });
    </script>
</head>

<body>
    <table border="1" class="pos-table">
        <caption class="text-center">Positive Values</caption>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Last Price</th>
                <th>Change</th>
                <th>Open</th>
                <th>% Net Change</th>
                <th>High</th>
                <th>Low</th>
                <th>Day's Range</th>
                <th>News</th>
            </tr>
        </thead>
        <tbody id="pos">
        </tbody>
    </table>
    <table border="1" class="nav-table">
        <caption class="text-center">Nagative Values</caption>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Last Price</th>
                <th>Change</th>
                <th>Open</th>
                <th>% Net Change</th>
                <th>High</th>
                <th>Low</th>
                <th>Day's Range</th>
                <th>News</th>
            </tr>
        </thead>
        <tbody id="nav">
        </tbody>
    </table>
    <br>
</body>

</html>